.newcollection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
}
.newcollection h1{
    /* margin-top: 100px; */
    font-size: 50px;
    font-weight: 600;
    color: #171717;
}
.newcollection hr{
    width:200px;
    height:6px;
    border-radius: 10px;
    background: #252525;
}
.collection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 50px;
}