.hero{
    height:100vh;
    display:flex;
    background: linear-gradient(180deg , #fde1ff, #e1ffea22 60%);
}
.hero-left{
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding-left:180px;
    gap:20px;
    line-height: 1.1;
}
.hero-left h2{
    font-size: 26px;
    font-weight: 600;
    color: #333;
}
.hero-left p{
    color:#171717;
    font-size: 100px;
    font-weight: 700;
}
.hero-hand-icon{
    display: flex;
    gap: 20px;
    align-items: center;
}
.hero-hand-icon img{
    width: 105px;

}
.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width:310px;
    gap: 15px;
    height:70px;
    border-radius: 75px;
    margin-top: 30px;
    background: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500;
}
.hero-latest-btn:active{
    background: #ff0101;
    color:rgb(48, 48, 48);
    transform: scale(0.98);
    font-size: 20px;
}
.hero.right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
