.latestcollection-item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 50px;
}
.latestcollection hr{
    width:350px;
    height:6px;
    border-radius: 10px;
    background: #252525;
    margin-left: 35px;
    display: flex;
    justify-content: center;
}
.latestcollection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
}
h1{
    font-size: 50px;
    font-weight: 600;
    color: #171717;
}