.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px;
}
.footer-logo{
    display: flex;
    align-items: center;    
    gap:20px;
}
.footer-logo p{
    color: #099bb2;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 46px;
    font-weight:600;
    display: flex;
}
#e1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(214, 200, 2);
}

.footer-links{
    display:flex;
    gap:50px;
    list-style: none;
    font-size: 20px;
    color:#252525;
    padding: 10px;
}
.footer-links li:hover{
    text-decoration: underline;
}   
li{
    cursor: pointer;
    color: #2c2c2c;
}
.footer-social-icon{
    display: flex;
    gap: 20px;
}
.footer-icon-container{
    padding: 10px;
    padding-bottom: 6px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
}
.footer-copyright{
    display:flex;
    flex-direction:column;
    align-items: center;
    gap: 30px;
    width:100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size:20px
}
.footer-copyright hr{
    width: 80%;
    height: 3px;
    background: #d3d3d3;
    border: none;
}