.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height:90vh;
}
.popular h1{
    /* margin-top: 100px; */
    font-size: 50px;
    font-weight: 600;
    color: #171717;
}
.popular hr{
    width:200px;
    height:6px;
    border-radius: 10px;
    background: #252525;
}
.popular-item{
    display: flex;
    gap: 30px;
    margin-top: 50px;
}