.offers{
    width: 65%;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
}
.offers-left{
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offers-left h1{
    color: #171717;
    font-size: 80px;
    font-weight: 600;
}
.offers-left p{
    color: #171717;
    font-size: 22px;
    font-weight: 600;
}
.offers-left button{
    width:282px;
    height: 70px;
    border-radius: 35px;
    background: #ff4141;
    color:white;
    border: none;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor:pointer;
}
.offers-left button:active{
    background: #ff0101;
    color:rgb(48, 48, 48);
    transform: scale(0.98);
    font-size: 20px;
}
.offers-right{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 50px;
}