.productdisplay{
    display: flex;
    margin: 0px 170px;
}
.productdisplay-left{
    display:flex;
    gap: 17px;
}
.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.productdisplay-img-list img{
    height: 163px;
}
.productdisplay-main-img{
    width: 586px;
    height: 700px;
}
.productdisplay-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}
.productdisplay-right h1{
    font-size: 36px;
    font-weight: 600;
    color: #3d3d3d;
}
.productdisplay-right-stars{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #1c1c1c ;
    margin: 15px 0px;
    font-size: 16px;
}
.productdisplay-right-prices{
    display: flex;
    margin : 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}
.productdisplay-right-price-old{
    text-decoration: line-through;
    color: #888888;
}
.productdisplay-right-price-new{
    color: #ff4141;
}
.productdisplay-right-size h1{
    margin-top: 55px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}
.productdisplay-right-sizes{
    display: flex;
    margin: 30px 0px;
    gap: 20px;
}
label {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  background: #f0f0f0;
  cursor: pointer;
  margin-right: 10px;
}
input:checked + label {
  background: #ebebeb;
  border: 1px solid #ff4141;
  color: #ff4141;
}
.productdisplay-right button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #ff4141;
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 40px;
}
.productdisplay-right-category{
    margin-top: 10px;
}
.productdisplay-right-category span{
    font-weight: 600;
}
.productdisplay-right-sizes div:active{
    background: #ff4141;
    color: white;
    border: none;
}